body{

    background-color: white;
}

#img1{position: absolute;
    width: 50%;
    margin-left: 25%;

}

#img{
    margin-top: 200px;
margin-left: 19%;
    width: 60%;
}

h2,button{
    font-size: 25px;
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
input{
    font-size: 20px;
    color: #000;
}

button{
    color: #202124;
    width: 90px;
    background-color: ;
    border-radius: 45%;
}

#div2{
    font-size: 20px;
    position: absolute;
    margin-top: 20px;
    margin-left: 18%;
}

#inp{
    margin-left: 18%;
    width: 500px;
}

#about{display: inline-block;
    width: 400px;
}

